- title "Log in"
%h1 Log in
= simple_form_for :login, { url: sessions_path } do |f|
  = f.input :email
  = f.input :password
  = f.input :remember_me, input_html: { value: '1' }, as: :boolean
  = f.button :submit, label: 'Log in'
