<%= form_for(@mooc) do |f| %>
  <% if @mooc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mooc.errors.count, "error") %> prohibited this mooc from being saved:</h2>

      <ul>
      <% @mooc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :platform %><br />
    <%= f.text_field :platform %>
  </div>
  <div class="field">
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </div>
  <div class="field">
    <%= f.label :course_link %><br />
    <%= f.text_field :course_link %>
  </div>
  <div class="field">
    <%= f.label :statement_link %><br />
    <%= f.text_field :statement_link %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br />
    <%= f.date_select :finish_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
