= simple_form_for(@mooc) do |f|
  = f.input :name
  = f.input :platform
  = f.input :provider
  = f.input :course_link
  = f.input :statement_link
  .form-group
    %label.string.optional.control-label Finish date:
    = f.date_select :finish_date
  = f.submit
