<h1>Moocs</h1>

<% @moocs.each do |platform, mooc_group| %>
    <h2><%= platform %></h2>
      <% mooc_group.each do |mooc| %>
        <div id="mooc">
            <%= date_string(mooc.finish_date, true) %>
            <%= link_to mooc.name, mooc.course_link %>
            <%= link_to 'Statement', '#' %>
            <%= link_to 'Edit', edit_mooc_path(mooc) %>
            <%= link_to 'Delete', mooc, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
<% end %>

<br />

<%= link_to 'New Mooc', new_mooc_path %>
