- title "Moocs"
%h1 Moocs
- @moocs.each do |platform, mooc_group|
  %h2= platform
  - mooc_group.each do |mooc|
    #mooc
      = date_string(mooc.finish_date, true)
      = link_to mooc.name, mooc.course_link
      = link_to 'Statement', '#'
      - if current_user
        = link_to 'Edit', edit_mooc_path(mooc)
        = link_to 'Delete', mooc, method: :delete, data: { confirm: 'Are you sure?' }
%br
- if current_user
  = link_to 'New Mooc', new_mooc_path
