.article
  %h1= link_to article.title, article
  .article-info
    %span.date= date_string(article.created_at, true).html_safe
    - article.tag_list.map do |tag|
      %span.tag= link_to tag, articles_tag_path(tag)
    %sapn.comment-count
      = link_to 'Comments', article_url(article, anchor: 'disqus_thread')
    - if current_user
      %span.pull-right
        = link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary"
        = link_to 'Delete', article, method: :delete,
        data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger"
    -#%p= read_more(article)
  .article-body= markdown(article.body)
