- title "Blog Archive"
%h2 Archives
- @articles_year.each do |date, articles|
  %h3= date.strftime('%Y')
  - articles.each do |article|
    .row.archive
      .col-md-2.text-right= date_string(article.created_at).html_safe
      .col-md-8= link_to article.title, article_path(article)
      - if current_user
        .col-md-2.pull-right
          %button.btn.btn-sm.btn-primary= link_to 'Edit', edit_article_path(article)
          %button.btn.btn-sm.btn-danger= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }
%br
