- title "Blog"
- if @tag
  .tag= link_to @tag, articles_tag_path(@tag)
- @articles.each do |article|
  = render partial: 'articles/article', locals: { article: article }
= paginate @articles
.text-center
  = link_to(archives_articles_path, class: 'archives') do
    %i.fa.fa-archive.fa-2x{'data-toggle' => 'tooltip', 'title' => 'ARCHIVES'}
= javascript_include_tag 'disqus_count'
