<p id="notice"><%= notice %></p>

<p>
  <%= @article.title %>
</p>

<p>
  <%= date_string(@article.created_at, true) %> |
  <b>Tags:</b>
  <%= raw @article.tag_list.map {|tag| link_to tag, articles_tag_path(tag) }.join(', ') %>
</p>

<p>
  <%= markdown(@article.body) %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
<% end %>
