- title "Pages Index"
.container
  %h1 Pages
  %table.table
    %tr
      %th Name
      %th Created at
      %th Updated at
      %th
      %th
      %th
    - @pages.each do |page|
      %tr
        %td= page.name
        %td= date_string(page.created_at, true)
        %td= date_string(page.updated_at, true)
        %td= link_to 'Show', page
        %td= link_to 'Edit', edit_page_path(page)
        %td= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  = link_to 'New Page', new_page_path
