- title "#{@page.name}"
= markdown(@page.body)
- if current_user
  = link_to 'Edit', edit_page_path(@page), class: 'btn btn-sm btn-primary'
  .back
    = link_to pages_path do
      = fa_icon 'long-arrow-left', text: "Back to pages"
