%html
  %head
    %title= yield(:title) || "Chunto LU"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path} Home
      #bs-navbar-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: articles_path} Blog
          %li
            %a{href: microposts_path} Micropost
          %li
            %a{href: moocs_path} Mooc
          %li
            %a{href: page_path('about')} About
      -#= link_to 'Home', root_path
      -#= link_to 'Blog', articles_path
      -#= link_to 'Microposts', microposts_path
      -#= link_to 'Moocs', moocs_path
      -#= link_to 'About', page_path('about')
    .user_nav
      - if current_user
        Logged in as #{current_user.email}.
        = link_to "Log out", logout_path
        = link_to "Pages", pages_path
        = link_to "Users", users_path
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    = yield
